.wrap.header{
    background: #CFCFCF url(images/maps.png) center no-repeat;
}

#header .social{
background-color: rgba(193, 193, 193, 0.8);
    width:150px;
    padding:5px;
    text-align:center;
}

#contact{
    grid-template-columns: repeat(2, 1fr);
}

#contact p{
    font-family: Roboto;
    color:
    #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

#contact form label{

    display: block;
    margin-bottom:34px;
    font-family: Roboto;
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
#contact form input, textarea{
    line-height: 27px;
    font-family: Roboto;
    padding-left: 18px ;
    font-size: 12px;
    font-weight: 400;
    width:100%;
    border:1px solid  #efefef;
    background-color: #fff;
    margin-top: 10px;
}
#contact form input[type=submit]{
    background-color: #fb4d01;
    width: 130px;
    height: 48px;
    line-height:48px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: block;
    text-align: center;
    text-decoration: none;
    margin:0 auto;
    padding:0;
}
#contact form input[type=submit]:hover{
    background-color: #000;
}
textarea{
    line-height: 1.5;
    height:150px;
}

#contact hr.v{
    background-color: rgba(167, 167, 167, 0.3);
    width: 1px;
    height: 330px;
    float:left;
    margin:70px 23px;
    border:none;

}
#contact h3{
    font-family: Roboto;
    color: #353535;
    font-size: 18px;
    font-weight: 900;
    line-height: 14px;
    margin:17px 0;

}

#contact .geo{
    font-family: Roboto;
    color:  #777777;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;

}

#contact .geo:before{
    content: '\f041';
    font-family: FontAwesome;
    color:
    #333333;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    vertical-align: top;
    margin-right:10px;
    float:left;

}

#contact .phone{
    font-family: Roboto;
    color:
    #333333;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    margin-top:21px;
    text-decoration: none;
    display: block;
    margin-bottom: 19px;

}
#contact .phone:before{
    content: "\f095";
    font-family: FontAwesome;
    color:  #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    margin-right:10px;
    vertical-align: middle;

    float:left;

}


#contact .mail{
    font-family: Roboto;
    color:
    #333333;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 20.8px;/* Приближение из-за подстановки шрифтов */
    text-decoration: underline;
    margin-top:21px;

    display: block;
    margin-bottom: 19px;

}
#contact .mail:before{
    content: "\f003";
    font-family: FontAwesome;
    color:  #333333;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    margin-right:10px;
    vertical-align: middle;

    float:left;

}

#contact .phone:hover, #contact .mail:hover{
    color:#fb4d01;
}

