body {
    background: url(images/concrete_seamless.png);
    font-family: 'PT Sans', sans-serif;
}

/* head */
#head {
    background: #000000 url(images/headbg.jpg) no-repeat right;

}

#head .logo{
    color:#FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    line-height: 88px;
    text-indent: 40px;

}

#head .logo .highlight{
    color:#C4D600;
}

#head .logo .highlight.domen{
    font-size: 30px;
}

/* меню */
#menu{

    list-style: none;
    border:none;
    background-color: #2b2b2b;


}

#menu a{
    color:#bcbdc0;
    text-decoration:none;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
}

#menu .active a{
    color:#C4D600;
}

/* Карточка товара */
.desc-min{
    color:#707070;
    font-size:14px;
    font-style:italic;
    line-height: 16px;
}

.desc-full{
    color:#484343;
    font-size:16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.properties{
    font-size: 16px;
    list-style-image: url(images/camera_test_9912.png);
    font-variant: small-caps;
}

img.product{
    border:4px solid #C2C0C0;
}

h2.product{
    color:#000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    font-family: 'PT Sans', sans-serif;
}

/*форма обратной связи*/
fieldset{
    width:500px;
}

input, textarea{
    width:500px;

    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
    color:#2b2b2b;

}

input{
    height:30px;
}

input[type=submit]{
    width:200px;
    background-color: #2b2b2b;
    color:#C4D600;
}

/* footer */
#footer{
    background: #000000 url(images/headbg.jpg) no-repeat right;
    color:#FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 40px;
    text-indent: 40px;
}